  <%- include('include/header') -%>
  <h1>
    Linky
  </h1>
  <p>
    Linky is a web service where our users can shorten URLs.
  </p>
  <p>
    All shortened URLs will be checked for virus.
  </p>
  <p>
    There are search functions as well as public REST API.
  </p>

  <%- include('include/footer') -%>