</div>
</body>
<script src="/highlight/bash.min.js"></script>
<script src="/highlight/javascript.min.js"></script>
<script src="/highlight/json.min.js"></script>
<script>hljs.highlightAll()</script>

</html>